body {
    margin: 0;
    padding: 0;
    background-color: #000;
  }

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: rgba(52, 52, 52, 0.5);
    padding: 15px;
    display: flex;
    justify-content: center;
  }

  .navbar-button {
    font-size: 20px;
    background-color: #050650;
    color: #ff770f;
    padding: 5px 15px;
    text-decoration: none;
    border-radius: 2px;
    position: absolute;
    right: 20px;
    bottom: 11px;
    transition: background-color 0.33s ease-in-out, color 0.33s ease-in-out;
  }
  .navbar-button:hover {
    background-color: #ff770f;
    color: #050650;
  }
  
  .navbar-brand {
    font-size: 22px;
    font-weight: bold;
    color: #FFF;
    text-align: center;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 5px;
    transition-duration: 0.5s;
  }
  .navbar-brand:hover {
    color: #a8a7a7;
  }
  
  .hero {
    height: 800px;
    background-image: url('adspbahepbawhbnperwkhjbap.jpeg');
    background-size: cover;
    background-position: center;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .hero h1 {
    font-size: 48px;
    font-weight: bold;
    color: white;
    margin-top: 100px;
  }
  
  .about-us {
    height: 1000px;
    padding: 20px;
  }
  
  .about-us h2 {
    font-size: 24px;
    color:#FFF;
    font-weight: bold;
  }
  
  .about-us p {
    color: #FFF;
    font-size: 16px;
  }


  footer {
    height: 100px;
    background-color: white;
    color: black;
    text-align: center;
    padding: 10px;
  
    font-family: sans-serif;
    font-size: 14px;
  
    border-top: 1px solid gray;
  }
  
  